Repository hungryhawk/bybyby: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx stylelint src/**/*.scss --fix

sdfsdfsd
  .lintstagedrc.json
Due: none

sdfsdfsd
  .lintstagedrc.json
  src/components/common/Button.module.scss
Due: none

sdfsdfsd
  src/components/common/Button.module.scss
Due: none

sdfsdfsd
  .husky/pre-commit
Due: none

feat: sdfsdfsd
  .commitlintrc.json
  .husky/commit-msg
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/common/Button.module.scss
Due: none

feat: check
  .husky/pre-push
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/components/common/Button.module.scss
Due: none

feat: dfsdf
  coverage/clover.xml
  coverage/lcov-report/index.html
  vite.config.ts
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

feat: set up github actions
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/App.tsx
  src/components/common/Button.module.scss
Due: prettier --write, eslint --fix

feat: set up github actions
  .husky/pre-commit
  .lintstagedrc.json
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/components/common/Button.module.scss
Due: none

feat: set up github actions
  .lintstagedrc.json
Due: none

feat: set up github actions
  src/App.tsx
Due: prettier --write, eslint --fix

feat: set up github actions
  .lintstagedrc.json
  src/components/common/Button.module.scss
Due: none

feat: set up github actions
  src/components/common/Button.module.scss
Due: none

feat: add storybook
  .eslintrc.cjs
  .storybook/main.ts
  .storybook/preview.ts
  coverage/clover.xml
  coverage/lcov-report/index.html
  package-lock.json
  package.json
  src/main.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/styles/_boilerplate.scss
  src/styles/_colors.scss
  src/styles/_typography.scss
  src/styles/index.scss
Due: prettier --write, eslint --fix

feat: add radix
  coverage/clover.xml
  coverage/lcov-report/index.html
  package-lock.json
  package.json
  src/App.scss
  src/App.tsx
  src/components/common/Avatar/Avatar.module.scss
  src/components/common/Avatar/Avatar.tsx
  src/components/common/Button.module.scss
  src/components/common/Button/Button.module.scss
  src/components/common/Button/Button.tsx
Due: prettier --write, eslint --fix, npx stylelint src/**/*.scss --fix

feat: add radix
  .lintstagedrc.json
Due: none

fix: fix imports from storybook
  coverage/clover.xml
  coverage/lcov-report/index.html
  src/stories/Button.tsx
  src/stories/Header.tsx
  src/stories/Page.tsx
Due: none

feat: adsdf
  .lintstagedrc.json
  coverage/clover.xml
  coverage/lcov-report/index.html
Due: none

feat: sdfdf
  src/App.tsx
  src/stories/Button.stories.ts
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Page.stories.ts
  src/stories/header.css
  src/stories/page.css
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/*.{ts,tsx,js,jsx}
  eslint --fix: any of: src/*.{ts,tsx,js,jsx}
  npx stylelint src/**/*.scss --fix: any of: src/*.scss
